<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}{% endblock %} - Frog.a.Day</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='sub/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='sub/style-forms.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='sub/style-calendar.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157439805-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-157439805-1');
        </script>
    </head>
    <body>
        <div class="hero">
            <header id="header">
                {% if call_or_get(current_user.is_authenticated) %}
                    <a id="login" href="{{ url_for('user.logout') }}">Log Out</a>
                {% else %}
                    <a id="login" href="{{ url_for('user.login') }}">Log In / Register</a>
                {% endif %}
            </header>

            <main>
                {% for message in get_flashed_messages() %}
                    <div class="flash fade-out">{{ message }}</div>
                {% endfor %}
                {% block content %}{% endblock %}
            </main>

            <footer id="hero-footer">
                <a id="logo" href="{{ url_for('main.index') }}">Frog.a.Day</a>
                <nav>
                    <a class="button button-primary" href="{{ url_for('sub.cal_curr') }}">Calendar</a>
                    <a class="button" href="{{ url_for('sub.about') }}">About</a>
                </nav>
            </footer>
        </div>
    </body>
</html>