option_settings:
 aws:elasticbeanstalk:application:environment:
   LC_ALL: en_US.utf8
   FLASK_APP: application.py
   FLASK_ENV: production
   RDS_DB_NAME: frogaday
   RDS_USERNAME: *** Removed ***
   RDS_PASSWORD: *** Removed ***
   RDS_HOSTNAME: frogaday.*** Removed ***.us-east-2.rds.amazonaws.com
   RDS_PORT: 3306
   SECRET_KEY: *** Removed ***
