{% extends "sub_layout.html" %}
{% from "_formhelpers.html" import render_field, render_submit_field %}

{% block title %}Edit Goal - Frog.a.Day{% endblock %}

{% block content %}
    <div class="container">

        <header class="header">
            <h1 id="title" class="text-center">Set your goal for the day</h1>
        </header>

        <form method="POST">
            {{ form.hidden_tag() }}
            {{ render_field(form.goal, placeholder="What are you going to do today?", autofocus="autofocus") }}
            {{ render_submit_field(form.submit) }}
        </form>

    </div>
{% endblock %}